.Layout {
    min-width: 100vw;
    min-height: 100vh;
}

.Header {
    color: white;
    font-size: 24px;
    text-align: center;
}

.Content {
    font-size: 20px;
    padding: 24px;
}

.Sider {
    color: white;
    font-size: 20px;
}

.Sider-Header {
    color: white;
    font-size: 20px;
    text-align: center;
}

.Footer {
    font-size: 20px;
    padding: 24px;
    text-align: center;
}