.Layout {
    min-width: 100vw;
    min-height: 100vh;
}

.Header {
    color: white;
    font-size: 24px;
}

.Content {
    font-size: 20px;
}

.Sider {
    color: white;
    font-size: 20px;
}

.Footer {
    font-size: 20px;
}